.main {
  padding: 1.5rem;
  display:flex;
  flex-direction: column;
  .title{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
  }
  
}

.tag {
  width: 50%;
  color: green;
 padding-bottom: .5rem;
}

.submitButton {
  padding-left: 1.25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

