.main {
  padding: 1.5rem;
  display:flex;
  flex-direction: column;
  
}

.tag {
  width: 50%;
  color: green;
 padding-bottom: .5rem;
}

.submitButton {
  padding-left: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

